@import "tailwindcss";

*{

  box-sizing: border-box;
}

body{
  background: #0f172a;
  color: white;
  font-family: sans-serif;
}

.btn-reg {
  padding: 2px 5px;
  color: white;
  background-color: oklch(0.5 0.25 276.29);
  border-radius: 5px;

}